<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别名称 -->
<mapper namespace="com.zh.ssm.dao.front.UserDao">
	<!-- SQL片段 -->
	<sql id="cols">id,name,password,email</sql>

	<select id="findById" resultType="User" parameterType="int">
		select <include refid="cols"/> from user WHERE id=#{id}
	</select>

	<insert id="addUser" parameterType="User">
		insert into user(name,password,email) values(#{name},#{password},#{email})
	</insert>
</mapper>